PORT=3002
# Chave PIX Padrão (CPF, CNPJ, Email ou Celular)
DEFAULT_PIX_KEY=roviro221@gmail.com
DEFAULT_PIX_NAME=Roviro Burger & Pizza
DEFAULT_PIX_CITY=SAO PAULO

# Evolution API (WhatsApp) - Opcional
EVOLUTION_API_URL=https://api.roviro.com.br
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=default
